<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>mocks</key>
    <array>
        <dict>
            <key>resolvedQuery</key>
            <string>How many new members were added in 2019</string>
            <key>intentName</key>
            <string>NewMembers</string>
            <key>responseImage</key>
            <string>year-chart</string>
            <key>speech</key>
            <string>You asked about new members for a specific date (2019-01-01/2019-12-31).</string>
            <key>group</key>
            <string></string>
            <key>filter_memberStatus</key>
            <string></string>
            <key>filter_date</key>
            <string>2019-01-01/2019-12-31</string>
            <key>filter_militaryRank</key>
            <string></string>
        </dict>
        <dict>
            <key>resolvedQuery</key>
            <string>How many new members were added in December 2019</string>
            <key>intentName</key>
            <string>NewMembers</string>
            <key>responseImage</key>
            <string>nov-chart</string>
            <key>speech</key>
            <string>You asked about new members for a specific date (2019-12-01/2019-12-31).</string>
            <key>group</key>
            <string></string>
            <key>filter_memberStatus</key>
            <string></string>
            <key>filter_date</key>
            <string>2019-12-01/2019-12-31</string>
            <key>filter_militaryRank</key>
            <string></string>
        </dict>
    </array>
</dict>
</plist>
